.gallery-container{
    list-style: none;
    display: grid;
    width: 100%;
    grid-template-columns: repeat(auto-fit,minMax(200px,1fr));
    padding: 0;
    margin: 0;
    gap:2rem;
}

.gallery-image-container {
    position: relative;
    display: inline-block;
    cursor: pointer;
    margin: 1rem;
    box-sizing: border-box;
}

.gallery-container p{
    font-style: italic;
    color: grey;
}
  
.gallery-image {
    display: block;
    max-width: 100%;
    height: auto;
}
  
.delete-icon {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    color:#a98afe;
    opacity: 0;
    transition: opacity 0.3s;
    cursor: pointer;
}

.gallery-image-container:hover {
    opacity: 0.9;
}
.gallery-image-container:hover .delete-icon {
    opacity: 1;
}